<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<connectionStrings>
  <add name="CIT examsConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString3" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString4" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString5" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString6" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString7" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString8" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString9" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString10" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString11" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString12" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString13" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString14" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString15" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString16" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString17" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString18" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString20" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString19" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString21" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString22" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString23" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString24" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString25" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString26" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString27" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString28" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString29" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString30" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString31" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString32" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString33" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString34" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString35" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString36" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString37" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString38" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\LAN\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString39" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString40" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT EXAM SYSTEM\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString" connectionString="Data Source=JOEL\SQLEXPRESS;Initial Catalog=CIT;Persist Security Info=True;User ID=sydrick;Password=1234567"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString41" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Syara\Desktop\CIT DATA\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString2" connectionString="Data Source=LGMOLINYAWE\SQLEXPRESS;Initial Catalog=CIT;Persist Security Info=True;User ID=sydrick;Password=1234567"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString3" connectionString="Data Source=LGMOLINYAWE\SQLEXPRESS;Initial Catalog=CIT;Persist Security Info=True;User ID=sydrick;Password=1234567"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString66" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\CIT DATA\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString4" connectionString="Data Source=RBLASERNA\SQLEXPRESS;Initial Catalog=CIT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString5" connectionString="Data Source=RBLASERNA\SQLEXPRESS;Initial Catalog=CIT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString6" connectionString="Data Source=RBLASERNA\SQLEXPRESS;Initial Catalog=CIT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString7" connectionString="Data Source=RBLASERNA\SQLEXPRESS;Initial Catalog=CIT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString8" connectionString="Data Source=RBLASERNA\SQLEXPRESS;Initial Catalog=CIT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="CITConnectionString9" connectionString="Data Source=RBLASERNA\SQLEXPRESS;Initial Catalog=CIT;Persist Security Info=True;User ID=sydrick;Password=1234567"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString42" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\angelo samonte\Desktop\CIT\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString43" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\angelo samonte\Desktop\CIT\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString44" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\angelo samonte\Desktop\CIT\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="CIT examsConnectionString45" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\CIT OCTOBER 12 2011 (FOR EVALUATION)\CIT\CIT exams.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="Dsn=Excel Files"
   providerName="System.Data.Odbc" />
  <add name="CITConnectionString10" connectionString="Data Source=JOEL\SQLEXPRESS;Initial Catalog=CIT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ConnectionStringSYD" connectionString="Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};dbq=C:\inetpub\wwwroot\CITEXAMSYSTEM\Classlist\201111103496IT130-B51.xls;defaultdir=C:\inetpub\wwwroot\CITEXAMSYSTEM\Classlist;driverid=1046;fil=excel 12.0;filedsn=C:\inetpub\wwwroot\CITEXAMSYSTEM\conExcel.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;readonly=0;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
   providerName="System.Data.Odbc" />
  <add name="JOELCONN" connectionString="Data Source=JOEL\SQLEXPRESS;Initial Catalog=CIT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="MCLCONN" connectionString="Data Source=MCL\SQLEXPRESS;Initial Catalog=CIT;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="SYARACONN" connectionString="Data Source=SYARA\SQLEXPRESS;Initial Catalog=CIT;Persist Security Info=True;User ID=sydrick;Password=1234567"
   providerName="System.Data.SqlClient" />
  <add name="RACHELCONN" connectionString="Data Source=RBLASERNA\SQLEXPRESS;Initial Catalog=CIT;User ID=sydrick;Password=1234567"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
 <!--<assemblies>
    <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
    <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
    <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
    <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
    <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
    <add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
    <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
    <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
    <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
   </assemblies>-->
   <buildProviders>
    <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
   </buildProviders>
  </compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
   <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
   <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
  </httpHandlers></system.web>
	<!--<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
   <add key="CrystalImageCleaner-AutoStart" value="true" />
   <add key="CrystalImageCleaner-Sleep" value="60000" />
   <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
	</location>-->
</configuration>
